@footer-prefix-cls: rc-footer;

.@{footer-prefix-cls} {
  position: relative;
  clear: both;
  color: rgba(255, 255, 255, .4);
  font-size: 14px;
  line-height: 1.5;
  background-color: #000;

  &-main {
    width: 100%;
    max-width: 1200px;
    padding: 80px 24px;
    margin: auto;
    display: flex;
  }

  &-columns {

  }

  &-bottom {

  }
}
